<div class="row">
    <div class="col-md-12">
        <hr>
        <span><b>Preferred Stock - Yield to Call (YTC) Calculator</b></span><br><br>
        <form name="calculator">
            <p>Annual Dividend($): <input type="text" name="coupon" ng-model="frontendData.coupon"> *This is the total dividends recieved for 1 year</p>
            <p>Call Value ($): <input type="text" name="par" ng-model="frontendData.par"></p>
            <p>Years to Call Date: <input type="text" name="year" ng-model="frontendData.year"> </p>
            <p>Market Price ($): <input type="text" name="price" ng-model="frontendData.price"> </p>
            <div id="button">
                <input type="button" value="Calculate" ng-click="multiply();">  <br>
            </div>
            <p>Yield to Call: <input type="text" name="total" ng-model="frontendData.total" maxlength="4" size="4">%  </p>
        </form>
    </div>
</div>
