<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/stuck.css">
<div class="row">

    <span><b>INTRINSIC VALUE CALCULATOR</b></span><br><br>

    <div class="col-md-12">
        <form name="calculators">
            <p>Current Book Value ($): <input type="text" name="cbv" ng-model="frontendData.cbv"></p>
            <p>Old Book Value ($): <input type="text" name="obv" ng-model="frontendData.obv"></p>
            <p># of Years between Book Values: <input type="text" name="years" ng-model="frontendData.years"></p>


            <div id="button1">
                <input type="button" value="Calculate" ng-click="gain();"> <br>
            </div>
            <p>Average Book Value change (%):<input type="text" name="totals"  ng-model="frontendData.totals" maxlength="4" size="4"></p>
        </form>
    </div>


    <div class="col-md-12">
        <hr>
        <form name="calculator">
            <p>Cash Taken out of business ($):
                <input type="text" name="coupon" ng-model="frontendData.coupon"> *This is dividends recieved for 1 year</p>
            <p>Current Book Value ($): <input type="text" name="par" ng-model="frontendData.par"> *We need to know this so we can determine the base
                value that's changing</p>
            <p>Average Percent Change in book value per year (%): <input type="text" name="bvc" ng-model="frontendData.bvc"> *This will determine
                the estimate BV at the end of the next 10 years</p>
            <p>Years: <input type="text" name="year" ng-model="frontendData.year"> *This will most likely be 10 (if you're comparing a 10 year
                federal note) </p>
            <p>(Discount Rate) 10 year federal note (%): <input type="text" name="r" ng-model="frontendData.r"> *<a
                    href="http://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield"
                    target="_new">Look up the ten year treasury note by clicking on this text</a></p>
            <div id="button2">
                <input type="button" value="Calculate" ng-click="multiply();"> <br>
            </div>
            <p>Intrinsic Value: $<input type="text" name="total" maxlength="4" size="4" ng-model="frontendData.total"></p>
        </form>
    </div>
</div>
