<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="view">
    <div class="container">
        <div class="row">
            <header>
                <h3>{{title}}</h3>
            </header>
            <div class="col-md-12">

                <form role="form" name="myForm" class="form-horizontal">
                    <div class="row">
                        <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                            <label class="col-md-2"> DP Key Id </label>
                            <div class="col-md-4">
                                <input name="dp_key_id" ng-model="frontendData.dp_key_id" type="text" ng-disabled="keyIdDisable" class="form-control" placeholder="dp_key_id" required/>
                                <span ng-show="myForm.dp_key_id.$dirty && myForm.dp_key_id.$invalid" class="help-inline">DP Id Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> Advertiser Id </label>
                            <div class="col-md-4">
                                <input name="advertiser_id" ng-model="frontendData.advertiser_id" type="text" class="form-control" placeholder="advertiser_id" required/>
                                <span ng-show="myForm.advertiser_id.$dirty && myForm.advertiser_id.$invalid" class="help-inline">Advertiser Id Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> CP Id </label>
                            <div class="col-md-4">
                                <input name="cp_id" ng-model="frontendData.cp_id" type="text" class="form-control" placeholder="cp_id" required/>
                                <span ng-show="myForm.cp_id.$dirty && myForm.cp_id.$invalid" class="help-inline">CP Id Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"></label>
                            <div class="col-md-4">
                                <a href="derive-conversion" class="btn">Cancel</a>
                                <button ng-click="saveMapping(frontendData);"
                                        ng-disabled="isClean() || myForm.$invalid"
                                        class="btn btn-primary">{{buttonText}}
                                </button>
                                <button ng-click="deleteMapping(frontendData)"
                                        ng-show="isUpdate" class="btn btn-warning">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
